.about {
    min-height: 84vh;
    padding-top: 5rem;
    padding-bottom: 10rem;

    @include breakpoint-down(medium) {
        padding: 2rem 0 5rem 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        @include breakpoint-down(large) {
            padding: 0 2rem;
            
        }
    }

    &__title {

        h2 {
            @include breakpoint-down(small) {
                font-size: 2rem;
            }
        }
        &::after {
            @include breakpoint-down(medium) {
                width: 33%;
            }
            @include breakpoint-down(small) {
                width: 26%;
            }
            @include breakpoint-down(xsmall) {
                width: 52%;
                
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-top: 5rem;
        position: relative;

        @include breakpoint-down(medium) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 0;
            padding-top: 3rem;
        }

        &::before {
            content: "";
            position: absolute;
            background: url("../../images/dots.svg") no-repeat center center;
            width: 100%;
            height: 100%;
            top: -9rem;
            left: -33rem;

            @include breakpoint-down(medium) {
                display: none;
            }
        }
    }

    &__text {
        width: 88%;
        line-height: 1.5;
        letter-spacing: 1.3px;
        position: relative;
        h3 {
            margin-top: 1rem;
            @include breakpoint-down(medium){
                margin-bottom: 1rem;
            }
        }

        @include breakpoint-down(medium){
            line-height: 1.2;
            letter-spacing: 1;
        }
    }

    &__image {
        background: url("../../images/about-1-min.jpg") no-repeat center center;
        background-size: cover;
        position: relative;

        @include breakpoint-down(medium) {
            grid-row-start: 1;
            grid-row-end: 2;

            width: 100%;
            margin: 0 auto;
        }


        @include breakpoint-down(xsmall) {
           
            height: 70%;
        }

        &::before {
            content: "";
            position: absolute;
            background: $yellow-color;
            width: 100%;
            height: 100%;
            top: -10px;
            right: 0;
            left: -14px;
            bottom: 0;
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            background: $drk-blue;
            width: 100%;
            height: 100%;
            top: 10px;
            right: 0;
            left: 14px;
            bottom: 0;
            z-index: -1;
        }
    }
}

.swiper-container-2 {
    position: relative;
    overflow: hidden;
    padding-bottom: 5rem;

    @include breakpoint-down(small) {
        padding-bottom: 0.5rem;
        margin-top: 2rem;
        
    }
    @include breakpoint-down(xsmall) {
        margin-top: -4rem;
        
    }
}

.slider__btns {
    margin-top: -4rem;

    @include breakpoint-down(small){
        margin-top: .5rem;
    }

    .slider-button-next,
    .slider-button-prev {
        width: 3rem;
        height: 3rem;
        background: $light-gray;
        border: none;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .slider-button-prev {
        margin-right: 0.2rem;
        &::before {
            background: url("../../images/left.svg") no-repeat center center;
            background-size: 25%;
        }
    }
    .slider-button-next {
        &::before {
            background: url("../../images/right.svg") no-repeat center center;
            background-size: 25%;
        }
    }
}
