.contact {
    background: $drk-blue;
    padding: 4rem 0 2rem 0;

    @include breakpoint-down(small){
        padding: 2rem 0;
    }

    &__title {
        
        position: relative;
        h2 {
            color: $white;

            @include breakpoint-down(small){
                font-size: 2rem;
            }
        }

        &::after {
            width: 18%;
            background: $dark-violet;

            @include breakpoint-down(medium){
                width: 23%;
            }
            @include breakpoint-down(small){
                width: 20%;
            }
            @include breakpoint-down(xsmall){
                width: 43%;
            }
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem 0;
        color: #ffffff;

        @include breakpoint-down(large){
            padding-left: 1rem;
            padding-right: 1rem;
        }
        @include breakpoint-down(small){
            grid-template-columns: 1fr;
            text-align: center;
            padding: 1.5rem 0;
        }
    }

    .form {
        &__item {
            padding: 0.5rem 0;
            

            & > input {
                outline: 0;
            }


            &-name {
                width: 90%;
                padding: 0.8rem 0 0.8rem 0.8rem;
            }
            &-mail {
                width: 90%;
                padding: 0.8rem 0 0.8rem 0.8rem;
            }
        }

        &__message {
            padding: 0.5rem 0;
            &-area {
                width: 90%;
                min-height: 10rem;
                padding-top: 0.8rem;
                padding-left: 0.8rem;
                font-size: 1rem;
                resize: vertical;
            }
        }

        &__btn {
            border: none;
            background: $yellow-color;
            color: black;
            padding: 0.7rem 2rem;
            margin-top: 0.5rem;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            @include breakpoint-down(small){
                width: 30%;
                margin-top: 0.75rem;
            }
            @include breakpoint-down(xsmall){
                width: 90%;
            }
            &:hover {
                color: #ffffff;
            }
        }
    }

    &__items-wrapper {
        padding-left: 2rem;

        @include breakpoint-down(large){
            padding-left: 0;
        }
    }
    &__contacts {

        @include breakpoint-down(small){
            padding-top: 1rem;
        }
        .contacts {
            &__header {
                padding: 0.5rem 0;
                h5 {
                    font-size: 1rem;
                    letter-spacing: 2px;
                    font-weight: 400;
                }
            }
            &__item {
                line-height: 2;

                & > span {
                    display: inline-block;
                    padding-left: 0.6rem;
                    letter-spacing: 2px;
                }
            }
        }
    }
    &__adress {
        padding-top: 1rem;
        .adress {
            &__header {
                padding-bottom: 0.5rem;
                h5 {
                    font-size: 1rem;
                    letter-spacing: 2px;
                    font-weight: 400;
                }
            }
            &__item {
                padding: 0.2rem 0;
                & > p {
                    color: #ffffff;
                    line-height: 1.5;
                }

                & > a {
                    display: inline-block;
                    padding-left: 0.6rem;
                    letter-spacing: 2px;
                    color: #ffffff;
                    padding-top: 0.5rem;
                }
            }
        }
    }

    &__icons-social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 42%;
        a {
            color: #ffffff;
            padding: 0 0.5rem;
        }

        @include breakpoint-down(small){
            justify-content: center;
        }
    }
}
