@import "mixins";
@import "varibles";


html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
// ScrollHide

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

ul {
  list-style: none;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: $txt-color;
}

.button{
  color: $txt-color;
  background: $btn-color;
  border: none;
  font-weight: 400;
  cursor: pointer;
}
// Text


h1,h2{
  color:$drk-blue;
  font-size: 3rem;
  
}
p{
  color: $txt-color;
 
}

.section__title{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  line-height: 1.6;
  z-index: 10;
  

  &::after{
    content: '';
    position: absolute;
    width: 22%;
    height: 1.125rem;
    background: $yellow-color;
    left: 51%;
    transform: translateX(-50%);
    bottom: 20%;
    
    z-index: -10;
  }
}


//Spacing

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

//FlexContainer

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

}



//Visibility

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }

}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}