.info {
    background-color: $drk-blue;
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 3.625rem 0;

        @include breakpoint-down(large) {
            padding-right: 2rem;
            padding-left: 2rem;

            grid-template-columns: 1fr;
            
        }
    }

    &__title {
        color: $white;

        @include breakpoint-down(large) {
            text-align: center;
        }

        @include breakpoint-down(small) {
            padding-bottom: 1rem;
            font-size: 2rem;
        }
    }

    &__statistic {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;

        @include breakpoint-down(large) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            padding-top: 1.2rem;
        }
      
        
        @include breakpoint-down(small) {
            display: none;
        }
    }

    &__icon {
        display: flex;
        flex-direction: column;
        padding-left: 4.5rem;
        color: $white;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: -6.5rem;

            @include breakpoint-down(large) {
                left: -5.5rem;
            }
            @include breakpoint-down(medium) {
                left: -4.3rem;
            }
           
           
        }

        &--1 {
           
            &::before {
                background: url("../../images/tecrube.svg") no-repeat center center;
            }
        }
        &--2 {

            &::before {
                background: url("../../images/proje.svg") no-repeat center center;
            }
        }
        &--3 {

            &::before {
                background: url("../../images/wifi.svg") no-repeat center center;

                
            }
        }
        &--4 {
  
            &::before {
                background: url("../../images/user.svg") no-repeat center center;
            }
        }
    }

    &__icon--number {
        font-size: 2rem;
        font-weight: 700;
    }

    .mobile-icons{
        display: none;

        @include breakpoint-down(small){
            display: grid;
            grid-template-columns:repeat(4,1fr);
        }
        @include breakpoint-down(xsmall){
            display: grid;
            grid-template-columns:repeat(2,1fr);
        }
        
    }
    .mobile-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
