.roadmap {
    background: url('../../images/road-map-bg-min.png') no-repeat center center;
    padding: 6rem 0;

    &__title{
        &::after{
            width: 31%;
        }
    }

    &__steps{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.125rem;
        margin-left: -2rem;
        padding-top: 5rem;
    }
}
