.service {
    background: url("../../images/service-bg.png") no-repeat;
    background-size: contain;
    padding: 7rem 0;

    @include breakpoint-down(medium) {
        padding: 3rem 0 5rem 0;
    }

    &__iner {
        padding: 0 5rem;

        @include breakpoint-down(small) {
            padding: 0 2rem;
        }
    }

    &__title {
        h2 {
            @include breakpoint-down(small) {
                font-size: 2rem;
            }
        }

        &::after {
            width: 31%;
            left: 51%;

            @include breakpoint-down(medium) {
                width: 46%;
            }

            @include breakpoint-down(small) {
                width: 36%;
            }
            @include breakpoint-down(xsmall) {
                width: 63%;
            }
        }
    }

    &-accordion {
        padding-top: 4rem;

        @include breakpoint-down(medium) {
            padding-top: 2rem;
        }
        @include breakpoint-down(small) {
            padding-top: 1rem;
        }

        &__item {
            padding-top: 1rem;
            $parent: &;

            &--active {
                #{$parent}-triger-icon {
                    transform: rotate(360deg);
                }
                #{$parent}-content {
                    display: flex;
                }
            }

            &-triger {
                display: flex;
                border-bottom: 2px solid #c7dfff;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 0.635rem;
                cursor: pointer;

                @include breakpoint-down(small) {
                    padding: 0;
                }

                &-icon {
                    transform: rotate(180deg);

                    svg {
                        @include breakpoint-down(small) {
                            width: 18px;
                        }
                    }
                }
                &-text {
                    font-size: 1.375rem;
                    font-weight: 400;
                    flex-grow: 1;

                    @include breakpoint-down(small) {
                        font-size: 1rem;
                    }
                }
            }

            &-content {
                display: none;
                padding-top: 1.5rem;

                @include breakpoint-down(small) {
                    font-size: 0.875rem;
                }
            }
        }
    }
}
