.solutions {
    background: $drk-blue;
    padding: 5rem 0 7.8rem 0;

    @include breakpoint-down(small) {
        padding-top: 2rem;
    }

    &__title {
        position: relative;
        h2 {
            color: $white;

            @include breakpoint-down(small) {
                font-size: 2rem;
            }
        }

        &::after {
            width: 25%;
            background: $dark-violet;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        padding-top: 4.5rem;

        @include breakpoint-down(large) {
            padding-top: 2rem;
            padding-left: 1.1rem;
            padding-right: 1.1rem;
        }
    }

    &__card {
        background: #fff;
        width: 23%;
        position: relative;
        display: block;
        cursor: pointer;
        min-height: 366px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        &::before {
            background: $yellow-color;
            left: -0.5rem;
            top: -0.5rem;
        }
        &::after {
            background: $dark-violet;
            right: -0.5rem;
            bottom: -0.5rem;
        }

        &-cover {
            min-height: 12rem;
        }
        &-cover--1 {
            background: url("../../images/card-1-min.jpg") no-repeat center center;
            background-size: cover;
        }
        &-cover--2 {
            background: url("../../images/card-2-min.jpeg") no-repeat center center;
            background-size: cover;
        }
        &-cover--3 {
            background: url("../../images/card-3-min.jpg") no-repeat center center;
            background-size: cover;
        }
        &-cover--4 {
            background: url("../../images/card-4-min.jpg") no-repeat center center;
            background-size: cover;
        }
        &-cover--5 {
            background: url("../../images/card-5-min.jpg") no-repeat center center;
            background-size: cover;
        }
        &-cover--6 {
            background: url("../../images/card-6-min.jpeg") no-repeat center center;
            background-size: cover;
        }
        &-cover--7 {
            background: url("../../images/card-7-min.jpg") no-repeat center center;
            background-size: cover;
        }
        &-cover--8 {
            background: url("../../images/card-8-min.jpg") no-repeat center center;
            background-size: cover;
        }
        &-cover--9 {
            background: url("../../images/card-9-min.jpg") no-repeat center center;
            background-size: cover;
        }

        &-text {
            padding: 1.125rem 3.75rem 1.125rem 1.125rem;
            &-header {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 30%;
                    height: 2px;
                    background: #000;
                    bottom: -1rem;
                    left: 0;
                }

                h4 {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }

            &-article {
                font-size: 0.875rem;
                padding-top: 2rem;
            }
        }
    }

    // Modal

    .modal-overlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        z-index: 99;
    }

    .modal {
        background-color: #fff;
        width: 80%;
        height: 90%;
        display: none;
        position: relative;
        z-index: 100;

        @include breakpoint-down(xsmall) {
            width: 350px;
            height: 90vh;
        }

        &__cover {
            min-width: 50%;
            height: 100%;

            &--1 {
                background: url("../../images/card-2-min.jpeg") no-repeat center center;
                background-size: cover;
            }
            &--2 {
                background: url("../../images/card-3-min.jpg") no-repeat center center;
                background-size: cover;
            }
            &--3 {
                background: url("../../images/card-4-min.jpg") no-repeat center center;
                background-size: cover;
            }
            &--4 {
                background: url("../../images/card-5-min.jpg") no-repeat center center;
                background-size: cover;
            }
            &--5 {
                background: url("../../images/card-6-min.jpeg") no-repeat center center;
                background-size: cover;
            }
            &--6 {
                background: url("../../images/card-7-min.jpg") no-repeat center center;
                background-size: cover;
            }
        }

        &__text {
            padding: 2rem;

            @include breakpoint-down(small) {
                padding: 0.8rem;
            }

            p {
                @include breakpoint-down(small) {
                    font-size: 0.875rem;
    
                }
            }

            &-header {
                > span {
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 3;

                    @include breakpoint-down(small) {
                        font-size: 1rem;
                        line-height: 2;
                    }
                }
            }
        }

        &-overlay--visible {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease-in-out;
        }

        &--visible {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            @include breakpoint-down(xsmall) {
                grid-template-columns: 1fr;
            }
        }
    }

    // Slider

    .swiper-container-3 {
        overflow: hidden;
        height: 400px;
        display: flex;
        align-items: center;
    }

    .swiper-pagination-3 {
        position: absolute;
        bottom: -50px;
        left: 53%;
        transform: translateX(-50%);

        @include breakpoint-down(small) {
            left: 49%;
        }
    }

    .swiper-pagination-bullet {
        width: 50px;
        height: 5px;
        margin: 0 0.2rem;
        display: inline-block;
        border-radius: 0;
        background: #69a1eb;
    }

    .swiper-pagination-bullet-active {
        background: #fff;
    }

    &-slider-next,
    &-slider-prev {
        background: none;
        border: none;
        position: absolute;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-slider-next {
        right: -3.5rem;
        top: 13.875rem;
    }

    &-slider-prev {
        top: 13.875rem;
        left: -3.6rem;
    }
}
