// Font Size
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

//color

$txt-color: #0C0C0C;
$drk-blue: #002960;
$icons-color: #484848;
$btn-color:#F39F07;
$yellow-color:#ffb62e;
$light-gray: #C4C4C4;
$white: #ffffff;
$dark-violet: #1B1A28;